<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>blog/index</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <link rel="stylesheet" href="/styles/main.css" />
</head>
<body>

<header>
  <h1>blog</h1>
</header>

<section class="entry-list">
  <div class="entry-list__list">
<% entries.forEach(function(entry) { %>
    <article id="entry_<%= entry.id %>" class="entry">
      <header class="entry__header">
        <h1 class="entry__title"><%= entry.title %></h1>
      </header>
      <section class="entry__image-box">
        <img src="<%= entry.image %>" alt="<%= entry.title %>" />
      </section>
      <section class="entry__text">
  <% entry.text.split(/\n/).forEach(function(paragraph) { %>
        <p><%= paragraph %></p>
  <% }) %>
      </section>
    </article>
<% }) %>
  </div>
</section>

<footer class="footer">
  <p class="footer__copyrights-text">Copyright © 2015 takoba, All rights reserved.</p>
</footer>

</body>
</html>
